/* Elements */
a {
  color: #629e0d;
}
hr {
  border-top: 2px solid #629e0d;
}
body {
  webkit-tap-highlight-color: #4d8657;
}
h1, h2, h3, hr {
  clear: both;
}
a {
  color: #4d8657;
}

.osm {
  text-align: center;
}

.osm a img {
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 40px;
}

/* Startseite */
.page-index {
  text-align: center;
}
/* Opening times */
#opening-times {
  margin-bottom: 20px;
}
#opening-times .opening-times-header {
  height: 3em;
  text-align: center;
}

#opening-times .opening-time {
  border-top: 5px solid #9fc015;
  display: block;
  position: relative;
  height: 9em;
  box-shadow: lightgrey 1px 2px 14px;
  text-align: center;
}


#opening-times .opening-time h2 {
  text-align: center;
  font-size: 40px;
  color: #9fc015;
  position: absolute;
  bottom: 10px;
  font-weight: 700;
  width: 100%;
  min-width: 2em;
  overflow: hidden;
}

#opening-times .opening-time > .times {
  padding-top: 1em;
}

#opening-times .opening-time.today {
  background-color: #629e0d;
  color: white;
  box-shadow: darkgrey 6px 7px 14px;
}

#opening-times .opening-time.today h2{
  color: white;
}

#opening-time .times {
  color: #9fc015;
  font-weight: bold;
}

.person-image {
  display: inline-block;
  margin: 0 50px 20px 0;
  border: 1px solid #eee;
  padding: 2px;
  height: 120px;
  width: 120px;
  box-shadow: lightgray 1px 3px 6px;
  clear: right;
  border-radius: 120px;
  overflow: hidden;
}

.navbar-custom.is-fixed .navbar-brand:hover,
.navbar-custom.is-fixed .navbar-brand:focus {
  color: #4d8657;
}

 .navbar-custom.is-fixed .nav li a:hover,
 .navbar-custom.is-fixed .nav li a:focus {
   color: #4d8657;
 }

.post-preview > a:hover,
.post-preview > a:focus {
  color: #4d8657;
}

.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #4d8657;
}

.floating-label-form-group-with-focus label {
  color: #4d8657;
}
.btn-default:hover,
.btn-default:focus {
  color: white;
}
.pager li > a:hover,
.pager li > a:focus {
  background-color: #4d8657;
  border: 1px solid #4d8657;
}

::-moz-selection {
  background: #4d8657;
}
::selection {
  background: #4d8657;
}
